<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <title>{% block title %}Events{% endblock %}</title>     
            <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
          crossorigin="anonymous">       
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 40px;">
            <a class="navbar-brand" href="{{ url_for('home') }}">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ url_for('home') }}">Home Page<span class="sr-only"></a>
                    <a class="nav-item nav-link" href="{{ url_for('game_add') }}">Add Game</a>
                </div>
            </div>
        </nav>
        <div class="page-frame" style="border-left: 20px solid #6ec9ff; border-right: 20px solid #6ec9ff; background-color: white;">
            <img src="{{ url_for('static', filename='Img.jpg') }}" style="width: 100%;">
            <br> 
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>  
            <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
            crossorigin="anonymous"></script>
    </body> 
</html>