{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-3">
    <h4>Current Games</h4>
    {% if games %}
        {% for game in games %}
        <div class="mb-3">
            <!-- Link for Detailed Game page -->
            <a href="{{ url_for('game_detail', game_id=game.game_id) }}" class="text-decoration-none">
                <strong>{{ game.event_location }}</strong>, {{ game.event_date }}
            </a>
        </div>     
        {% endfor %}
    {% else %}
        <p>No current events.</p>
    {% endif %}
</div>
{% endblock %}
